<html>
    <body id="MainBody">
        <div *ngFor="let country of countries">
            <div [ngStyle]="{'background-color': country.colors[0]}" class="block">
                <img src="{{country.flag}}" style="width: 65%; height: auto;"/>
                <div [ngStyle]="{'color': country.colors[1]}">
                    <p>{{country.name}}</p>
                    <p>{{country.lang}}</p>
                    <p>{{country.greeting}}</p>
                </div>
                <div *ngFor="let color of country.colors">
                    <p>{{color}}</p>
                </div>
            </div>
        </div>
    </body>
</html>
